
/* 
    Created on : Jan 16, 2017, 10:24:59 AM
    Author     : Ziaul Ahmed Ovi
*/
#view_product_table .container-fluid{
    padding-left: 0px;
    padding-right: 0px;
    
}
#view_product_table .container{
    padding-left: 0px;
    padding-right: 0px;
    
}
